.signin-container {
  width: 30%;
  height: 500px;
  background-color: rgb(255, 254, 240);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.signin-title {
  letter-spacing: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .signin-container {
    width: 70%;
  }

  .buttons {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .signin-container {
    width: 80%;
  }

  .buttons {
    width: 90%;
  }
}
