.dropdown-container {
  width: 240px;
  height: 340px;
  background-color: #fffef0;
  border: 3px solid #505050;
  position: absolute;
  top: 70px;
  right: 100px;
  z-index: 5;
  padding: 20px;
}

.cart-itmes-list {
  overflow-y: scroll;
  height: 250px;
}

.nocartItems-message {
  margin: 70px auto;
  font-weight: 600;
}

@media (max-width: 768px) {
  .dropdown-container {
    top: 130px;
    right: 150px;
  }
}
@media (max-width: 360px) {
  .dropdown-container {
    right: 50px;
  }
}
