.cart-icon-container {
  position: relative;
  cursor: pointer;
}

.cart-number {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  bottom: 8px;
  left: 14px;
  color: brown;
}
.svgIcon {
  width: 40px;
}
@media (max-width: 768px) {
}
@media (max-width: 360px) {
}
