.home-page {
  width: 90vw;
  height: max-content;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .home-page {
    width: 90vw;
    height: max-content;
    margin: 1rem auto;
  }
}
@media (max-width: 360px) {
}
